@(tattoos: List[models.gallery.Tattoo], artists: List[models.users.Artist], user: models.users.User,env: play.api.Environment)
@main("Artist Gallery", user){
    <h1>Gallery</h1>
    <div class="row">
    <div class="bio">
          
          
        </div>
    </div>  
        
        <div class="row">
                <div class="col-sm-3">
                        <h4>Artist</h4>
                        <div class="list-group">
                            <a href="@routes.GalleryController.artistGalleries("art")" class="list-group-item list-group-item-danger">All Artists</a>
                            @for(art<-artists){
                                <a href="@routes.GalleryController.artistGalleries(art.getEmail)" class="list-group-item list-group-item-danger catheight">@art.getName
                                    <span class="badge">@art.getTattoos.size</span>
                                </a>
                            }
                        </div>
                    </div>
                    
                    <div class="col-sm-9">
                            <div class="gallery">
                                <div class="row">
                                    @for(t<-tattoos) { 
                                        @if(env.resource("public/images/tattooImages/" + t.getId + t.getArtist.getEmail + "display.jpg").isDefined) {
                                            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                    <a href="/assets/images/tattooImages/@(t.getId + t.getArtist.getEmail + ".jpg")" class="fancybox" rel="ligthbox">
                                                        <img  src="/assets/images/tattooImages/@(t.getId + t.getArtist.getEmail + "display.jpg")" class="zoom img-fluid "  alt="">
                                                        
                                                    </a>
                                                    <h5>@t.getName by @t.getArtist().getName</h5>
                                                        @if((user != null) &&("artist".equals(user.getRole()))){
                                                            <a href="@routes.GalleryController.deleteTattoo(t.getId)" class="button-xs btn-danger"
                                                            onclick="return confirmDel();">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                            
                                                        </a>
                                                    }
                                                
                                                    
                                                
                                            } else {
                                                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                                    <a href="/assets/images/noImage.jpg" class="fancybox" rel="ligthbox">
                                                        <img  src="/assets/images/noImage.jpg" class="zoom img-fluid "  alt="">
                                                        
                                                    </a>
                                                    <h5>@t.getName by @t.getArtist().getName</h5>
                                                
                                                @if((user != null) &&("artist".equals(user.getRole()))){
                                                    <a href="@routes.GalleryController.deleteTattoo(t.getId)" class="button-xs btn-danger"
                                                    onclick="return confirmDel();">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                    
                                            </a>
                                        }
                                    
                                            }
                                        </div>
                                        
                                    }
                                </div>
                            </div> 
                            
                        </div>
                        @if((user != null) &&("artist".equals(user.getRole()))){
                        <p>
                                <a href="@routes.GalleryController.addTattoo()">
                                    <button class="btn btn-primary">Add a new Tattoo</button>
                                </a>
                            </p>
                        }
                    </div>
        }
      
