@(appointments: List[models.users.Appointment], user: models.users.User)
@main("User", user){
    <div class="row">
        <div class="col-sm-3">
		
        </div>
        @if(flash.containsKey("success")){
            <div class="alert alert-success">
                @flash.get("success")
            </div>
        }
        
        <div class="col-sm-9">
            <h3>Name: @user.getName()</h3>
            <h3>Email: @user.getEmail()</h3>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Artist</th>
                </tr>
                </thead>
                <tbody>
                @for(a<-appointments){
                    <tr>
                    <td>@a.getCustomer().getEmail</td>
                    <td>@a.getDate</td>
                    <td>@a.getArtist().getName</td>
                    }
                    </tr>
                </tbody>
            </table>
        </div>

    <form action="@routes.CheckoutController.checkout()" method="GET">
    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_j9w3VvsuOsTLJIc1z2QKio3p00Sy40IX2N"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="eur">
    </script>
    </form>
    </div>
     
    
    }
    