@(user: models.users.User, tattoos: List[models.gallery.Tattoo], env: play.api.Environment)
@main("Home",user){
<h1>Welcome to Tattoo Saloon</h1>



<p>At Tattoo Saloon you can view the galleries of our artists, <br>book and manage your appointments and place a deposit on you appointment.</p>

<div class="row">
    
    @for(t<-tattoos) { 
        @if(env.resource("public/images/tattooImages/" + t.getId + t.getArtist.getEmail + "display.jpg").isDefined) {
            <div class="col-lg-4 col-md-5 col-xs-7 thumb">
                    <a href="/assets/images/tattooImages/@(t.getId + t.getArtist.getEmail + ".jpg")" class="fancybox" rel="ligthbox">
                        <img  src="/assets/images/tattooImages/@(t.getId + t.getArtist.getEmail + "display.jpg")" class="zoom img-fluid "  alt="">
                        
                    </a>
                    <h5>@t.getName by @t.getArtist().getName</h5>
                        
                
                    
                
            } else {
                <div class="col-lg-4 col-md-5 col-xs-7 thumb">
                    <a href="/assets/images/noImage.jpg" class="fancybox" rel="ligthbox">
                        <img  src="/assets/images/noImage.jpg" class="zoom img-fluid "  alt="">
                        
                    </a>
                    <h5>@t.getName by @t.getArtist().getName</h5>
                
               
    
            }

        </div>
    }
    </div>
}