@(userForm: Form[models.users.Customer],user: models.users.User)

@import helper._

@main("Register User",user){
    <p class="lead">Add a new user</p>

    @if(flash.containsKey("error")){
        <div class="alert alert-success">
            @flash.get("error")
        </div>
    }
    
    @form(action=routes.LoginController.registerUserSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate the form submission *@
        @CSRF.formField

        
            @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(userForm("name"), '_label -> "Name", 'class -> "form-control")
            @inputText(userForm("password"), '_label -> "Password", 'class -> "form-control")
            @inputText(userForm("role").copy(value=Some("customer")), '_label -> "",'hidden -> "hidden")
            @inputText(userForm("email"), '_label -> "", 'hidden -> "hidden")
            
            
            <div class="actions">
                <input type="submit" value="Register user" class="btn btn-primary">
                <a href="@routes.LoginController.registerUser()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } 
} 